@{
    ViewBag.Title = "Upload";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="list">     
        <tr>
            <th>请选择上传图片</th>
            <td>
                <input type="file" name="imgfile" />
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="上传" />
            </td>
        </tr>
    </table>
}