<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/css/css.css" rel="stylesheet" />
    <script type="text/javascript">
        function del(id) {
            //弹出确认提示框,如果用户点击确认，confirm 就就会返回true
            if (confirm("您是否真的要删除此数据吗?")) {
                // 进行删除
                window.location = 'delete.ashx?id=' + id;
            }
        }
    </script>
</head>
<body>
    <table id="list">
        <tr>
            <td colspan="5">
                <input type="button" value="新增" onclick="window.location = 'add.ashx'" /></td>
        </tr>
        <tr>
            <th>联系人ID</th>
            <th>联系人名称</th>
            <th>联系电话</th>
            <th>所属组</th>
            <th>相关操作</th>
        </tr>
        ${trs}
    </table>
</body>
</html>

