#pagebar {
    width: 500px;
    margin: 0 auto;
}

    #pagebar li {
        display: inline;
    }

        #pagebar li a {
            text-decoration: none;
            color: #0094ff;
            font-weight: bold;
        }

            #pagebar li a:hover {
                text-decoration: none;
                color: #e3e532;
                font-weight: bold;
            }
