@model EMS11.Model.Product

@{
    ViewBag.Title = "Detils";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table width="1005" border="0" align="center" cellpadding="0" cellspacing="0" background="/images/main1_27.gif">
  <tbody><tr>
    <td height="780" valign="top"><div class="main">
      @{Html.RenderAction("ProductCateList", "ParitlView");}
      <div class="right" id="right">
        <div class="main2" id="l2">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tbody><tr>
              <td><table width="687" border="0" cellspacing="0" cellpadding="0">
                  <tbody><tr>
                    <td width="221" height="24" background="/images/nv.gif"><div class="nvv" id="nvv">产品展示</div></td>
                    <td width="380">&nbsp;</td>
                    <td width="86">&nbsp;</td>
                  </tr>
              </tbody></table></td>
            </tr>
          </tbody></table>
          </div>
		  <div id="jianjie"><div>
		    <div>
		      <div align="center"><strong>产品说明</strong></div>
                @Html.Raw(Model.p_content)
		    </div>
		    <div id="tu1"><img src="/pic/1.jpg" width="350" height="221"></div>
		  </div>
		  </div>
		  </div>
    </div></td>
  </tr>
</tbody></table>