
    .list {
        width: 500px;
        margin: 10px auto;
    }

        .list th {
            text-align: right;
        }

        .list td {
            text-align: left;
        }

.w200 {
    float:right;
    min-width:200px;
}